{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的网站|首页
{% endblock %}

{# 加载home页面自己的css #}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
    <h3 class="home-content">欢迎访问我的网站，随便看</h3>
    <!--<style type="text/css">-->
        <!--h3.home-content {-->
            <!--font-size: 200%;-->
            <!--position : absolute;-->
            <!--left: 50%;-->
            <!--top: 50%;-->
            <!--transform: translate(-50%,-50%);-->
        <!--}-->
    <!--</style>-->
{% endblock %}